body {
    font-family: Trebuchet MS, sans-serif;
    padding-top: 15px;
}

 main {
    border: 3px solid #ff0000;
    margin: 1rem auto;
    padding: 20px 15px;
    max-width: 500px;
}

#MyGitID {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
 
#PicID {
    border-radius: 30%;
    border: 3px solid #000000;
}