body {
    font-family: Trebuchet MS, sans-serif;
    padding-top: 15px;
}

 main {
    border: 3px solid #ff0000;
    margin: 1rem auto;
    padding: 20px 15px;
    max-width: 500px;
}

#MyGitID {
    background-color: #ffffff;
    color: white;
    font-size: 20px;
    margin: 3px 2px;
    cursor: pointer; 
    padding: 20px 34px;
    display: inline-block;
}
 
#PicID {
    border-radius: 30%;
    border: 3px solid #000000;
}

